.titleContainer{
    text-align: center;
    margin: 7rem 0 3rem;
}


.titleContainer p{
    color: #212ea0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.titleContainer h2{
    font-size: 3rem;
    color: #000f38;
    text-transform: capitalize;
}